name: Security Scan Docker Packages
run-name: >
  Security Scan #${{ github.run_number }} for ${{ inputs.image != '' && inputs.image != null && inputs.image || 'all repository docker images' }}
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Target type for the scan (docker, etc.)"
        required: false
        type: choice
        options:
          - docker
          - source
      image:
        description: "Docker image (for docker). By default ghcr.io/<owner>/<repo>:latest"
        required: false
        default: ""
        type: string
      tag:
        description: "Tag of the image to scan. By default 'latest'"
        required: false
        default: "latest"
        type: string
      only-high-critical:
        description: "Scope only HIGH + CRITICAL"
        required: false
        default: true
        type: boolean
      trivy-scan:
        description: "Trivy scan"
        required: false
        default: true
        type: boolean
      grype-scan:
        description: "Grype scan"
        required: false
        default: true
        type: boolean
      continue-on-error:
        description: "Continue on error"
        required: false
        default: true
        type: boolean
      only-fixed:
        description: "Ignore unfixed vulnerabilities"
        required: false
        default: true
        type: boolean
  schedule:
    - cron: "0 3 * * 0" # every Sunday at 03:00 UTC

jobs:
  debug-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    outputs:
      packages: ${{ steps.ghcr.outputs.packages }}
      has-packages: ${{ steps.ghcr.outputs.has-packages }}
    steps:
      - name: List GHCR packages for this repo
        id: ghcr
        uses: Netcracker/qubership-workflow-hub/actions/ghcr-discover-repo-packages@1a7cc6c881a3fcd92e5607b4c267d3acd07039bb #v2.0.3
        env:
          GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Print packages
        run: echo "$OUTPUT_PACKAGES" | jq '.'
        env:
          OUTPUT_PACKAGES: '${{ steps.ghcr.outputs.packages }}'

      - name: Continue only if repo has GHCR packages
        if: ${{ steps.ghcr.outputs.has-packages == 'true' }}
        run: echo "Packages found!"

  security-scan-matrix:
    permissions:
      contents: read
      security-events: write
      packages: read
    needs: debug-packages
    if: ${{ inputs.image == '' || inputs.image == null }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.debug-packages.outputs.packages) }}

    name: "Run Security Scan (matrix)"
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-security-scan.yml@1a7cc6c881a3fcd92e5607b4c267d3acd07039bb #v2.0.3
    with:
      target: ${{ inputs.target || 'docker' }}
      image: ${{ format('{0}:{1}', matrix.package.path, inputs.tag || 'latest') }}

  security-scan-single:
    permissions:
      contents: read
      security-events: write
      packages: read
    needs: debug-packages
    if: ${{ inputs.image != '' && inputs.image != null }}
    name: "Run Security Scan (single image)"
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-security-scan.yml@1a7cc6c881a3fcd92e5607b4c267d3acd07039bb #v2.0.3
    with:
      target: ${{ inputs.target || 'docker' }}
      image: ${{ inputs.image }}
      only-high-critical: ${{ inputs.only-high-critical || true }}
      trivy-scan: ${{ inputs.trivy-scan || true }}
      grype-scan: ${{ inputs.grype-scan || true }}
      only-fixed: ${{ inputs.only-fixed || true }}
      continue-on-error: ${{ inputs.continue-on-error || true }}
