name: Test Configuration
on:
  workflow_dispatch:
    inputs:
      file-path:
        description: 'A dummy input to trigger the workflow'
        required: false
        default: '.qubership/dev-docker.cfg'

jobs:
  test-configuration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get Configuration File
        uses: nookyo/qubership-workflow-hub/actions/docker-config-resolver@main
        id: config
        with:
          file-path: ${{ inputs.file-path }}

      - name: Display Resolved Configuration
        id: display-config
        env:
          CONFIG_JSON: ${{ steps.config.outputs.config }}
        run: |
          echo "Resolved Configuration:"
          FILTERED=$(echo "$CONFIG_JSON" | jq -c '[.[] | select(.security_scan == true)]')

      - name: Display Resolved
        run: |
          echo "Resolved"
          echo '${{ steps.display-config.outputs.matrix }}' | jq '.[]'
