name: Test Configuration
on:
  workflow_dispatch:
jobs:
  test-configuration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Generate Matrix via jq
        id: generate
        run: |
          MATRIX=$(jq -c '
          (.registry // "") as $reg
          | (.security // {}) as $globalSec
          | (.defaults // {}) as $def
          | [
              .components[]
              | . as $c
              | ($globalSec + ($c.security // {})) as $sec
              | {
                  name: $c.name,
                  image: (if $reg == "" then $c.name else ($reg + "/" + $c.name) end),
                  registry: $reg,

                  dockerfile: ($c.dockerfile // $def.dockerfile// "Dockerfile"),

                  context: ($c.context // $def.context // "." | if . == "" then "." else . end),

                  tags: ($c.tags // $def.tags // "latest"),

                  platforms: ($c.platforms // $def.platforms // "linux/amd64" | gsub("\\s+"; ""))
                }
                +
                (
                  $sec
                  | with_entries(.key = ("security_" + .key))
                )
            ]

           echo "Matrix generated:"
           echo "$MATRIX"

           # Save result as GitHub Action output
           echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

      # - name: Generate Matrix via jq
      #   id: generate
      #   run: |
      #     MATRIX=$(jq -c '
      #       (.registry // "") as $reg
      #       | (.platforms // "linux/amd64") as $globalPlatforms
      #       | (.security // {}) as $globalSec
      #       | [
      #           .components[]
      #           | . as $c
      #           | ($globalSec + ($c.security // {})) as $sec
      #           | {
      #               name: $c.name,
      #               image: (if $reg == "" then $c.name else ($reg + "/" + $c.name) end),
      #               registry: $reg,
      #               dockerfile: ($c.dockerfile // $c.file // "Dockerfile"),
      #               context: ($c.context // "." | if . == "" then "." else . end),
      #               tags: ($c.tags // "latest"),
      #               platforms: ($c.platforms // $globalPlatforms | gsub("\\s+"; ""))
      #           }
      #           +
      #           (
      #               $sec
      #               | with_entries(.key = ("security_" + .key))
      #           )
      #         ]
      #     ' .qubership/dev-docker.cfg)

      #     echo "Matrix generated:"
      #     echo "$MATRIX"

      #     # Save result as GitHub Action output
      #     echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

    #   - name: Run configuration tests
    #     uses: actions/github-script@v6
    #     with:
    #       script: |
    #         const fs = require('fs');
    #         const path = '.github/workflows/security-scan.yml';
    #         const yaml = require('js-yaml');

    #         try {
    #           const fileContents = fs.readFileSync(path, 'utf8');
    #           const data = yaml.load(fileContents);

    #           // Basic validation checks
    #           if (!data.on || !data.jobs) {
    #             throw new Error('Invalid workflow configuration: Missing "on" or "jobs" section.');
    #           }

    #           if (!data.jobs['security-scan']) {
    #             throw new Error('Invalid workflow configuration: Missing "security-scan" job.');
    #           }

    #           console.log('Configuration is valid.');
    #         } catch (e) {
    #           console.error(`Error validating configuration: ${e.message}`);
    #           throw e;
    #         }
